.btn-success {
    background-color: #2C45A9 !important;
    color: white !important;
}

#imagemLogin {
    width: 400px;
    margin-left: 40px;
}

#texto {
    color: white !important;
    margin-top: 50px;
}

.botao {
    margin-top: 30px;
    background-color: #2C45A9 !important;
    color: white !important;
}